
h2{
  line-height: inherit;
  text-align: center;
  color: lightgrey;
  font-size: 40px;
}

.item {
text-align: center;
line-height: normal;
color: #000000;
font-size: 25px;
width: 150px;
height: 150px;
display:inline-block;
margin: 20px 10px 20px 10px;
}

.menuitems {
    justify-content: center;
    display: flex;
    width: 400px;
    height: 250px;
    margin: 20px 10px 20px 10px;
    background-color: lightgrey;
}

.img {
  image-orientation:center;
  display: block;
  margin: 0 10px 0 0;
  width: 40%;
}

.container {
display: flex;
}
