
.product-filter {
  display: flex;
  margin: 150px 0 0 0;
}

.product-filter h2 {
  line-height: inherit;
  text-align: center;
  color: skyblue;
  font-size: 40px;
  margin: 25px 0 0 0;
}

.sort {
  display: flex;
  margin: 75px 0 0 0;
}

.collection-sort {
  display: flex;
  flex-direction: column;
}

.product-image {
	  display: block;
	  margin: 0 auto 1em;
	  width:220px;
	  height:220px;
	  object-fit: cover;
	}

@media (max-width: 600px) {
  .product-card {
    flex: 1 46%;
  }
}

@media (max-width: 480px) {
  .product-filter {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .product-filter {
    flex-direction: column;
  }
  .sort {
    align-self: flex-start;
  }
}
@media (min-width: 600px) {

	.container {
		width: 90%;
		margin: 0 auto;
	}

	.col {
		float: left;
	}

	.first,
	.second {
		width: 50%;
	}

	.third,
	.fourth {
		width: 50%;
	}


	/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}

}

@media (min-width: 1025px) {

	.container {
		width: 90%;
		max-width: 1150px;
	}

	.col {
		float: left;
	}

	.first,
	.second,
	.third,
	.fourth {
		width: 25%;
		margin-top: 50px;
		margin-bottom: 50px;
	}

}
