

.product-filter h2 {
  text-align: center;
  color: skyblue;
  font-size: 40px;
}

.sort {
  margin: 15px 0 0 0;
}

.product-image {
	  display: block;
	  margin: 0 auto 1em;
	  width:220px;
	  height:220px;
	  object-fit: cover;
	}

.hidden {
  display:none;
}

.description {
  background-color: skyblue;
  border: 2px solid black;
  border-radius: 3px;
  font-size: 16px;
  font-style: bold;
  padding: 5px 0 5px 0;
  margin: -15px auto 0 auto;
  width: 220px;
}

.menucontent {
  margin: 300px auto 0 auto;
  max-width: 1125px;
  max-width: 85%;
}

/*For smaller screen*/
@media (min-width: 540px) {

	.container {
		width: 90%;
		margin: 0 auto;
	}

  .menucontent{
    margin-top: 180px;
  }

	.col {
		float: left;
	}

	.first,
	.second {
		width: 50%;
	}

	.third,
	.fourth {
		width: 50%;
	}


	/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}

}
/*For Larger Screen*/
@media (min-width: 1025px) {

	.container {
		width: 90%;
		max-width: 1150px;
	}

	.col {
		float: left;
	}

	.first,
	.second,
	.third,
	.fourth {
		width: 25%;
		margin-top: 20px;
		margin-bottom: 50px;
	}

}
